<script type="text/javascript" src="{{STATIC_URL}}osgeo_importer/js/angular-resource.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}osgeo_importer/js/underscore-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}osgeo_importer/js/ui-bootstrap-tpls-0.14.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}osgeo_importer/js/angular-cookies.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}osgeo_importer/js/angular-wizard.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}osgeo_importer/factories.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}osgeo_importer/js/angular-file-upload.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}osgeo_importer/importer.js"></script>
