# gdal/ogr python bindings
python-dateutil==1.5
psycopg2==2.7.1
numpy==1.8.2

# Needed for testing.
mock==2.0.0

# Just for documentation generation
sphinx==1.5.3
sphinx-autobuild==0.6.0

Django==1.8.15

GeoNode<=2.6c1, >=2.5.12

awscli==1.11.63
flake8==3.3.0
coverage==4.3.4

# This mapproxy commit includes support for dashes in geopackage table names.
git+https://github.com/mapproxy/mapproxy.git@07552da8

# You will also need gdal/ogr.  See Developer Notes section of docs.
django-osgeo-importer-client==0.1.0
