Django==1.8.15
psycopg2==2.7.1

# Install GeoNode tagged at version 2.5.15
-e git+https://github.com/GeoNode/geonode.git@2.5.15#egg=GeoNode

awscli==1.11.63
numpy==1.8.2
python-dateutil==1.5
flake8==3.3.0
coverage==4.3.4

# This mapproxy commit includes support for dashes in geopackage table names.
git+https://github.com/mapproxy/mapproxy.git@07552da8

# You will also need gdal/ogr.  See Developer Notes section of docs.
