# gdal/ogr python bindings
python-dateutil==1.5
psycopg2==2.7.1
numpy==1.8.2

# Needed for testing.
mock==2.0.0

# Just for documentation generation
sphinx==1.5.3
sphinx-autobuild==0.6.0

Django==1.8.15

GeoNode==2.6.3

django-tastypie>=0.12.2,<0.14

awscli==1.11.63
flake8==3.3.0
coverage==4.3.4

six==1.10.0

git+git://github.com/dimka665/awesome-slugify@a6563949965bcddd976b7b3fb0babf76e3b490f7#egg=awesome-slugify