{% extends "site_base.html" %}
{% load i18n %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block extra_script %}
    {% include 'osgeo_importer/_importer_scripts.html' %}
    {% include 'osgeo_importer/_importer_styles.html' %}
    {{ block.super }}

    <script>
    </script>
    
{% endblock %}

{% block body_outer %}

<div class="page-header">
  <h2 class="page-title">{% trans "Import files." %}</h2>
</div>
<div id="main"></div>

    <script type="" src="/static/osgeo_importer/js/App.js"></script>
    

</div>
{% endblock %}
